@if (config) {
<div class="min-h-screen flex flex-col bg-brand-bg font-sans antialiased text-[#2C2A29] relative">

  <app-header [config]="config" [isMenuOpen]="isMenuOpen" (toggleMenu)="toggleMenu()"></app-header>

  <app-sidebar [isMenuOpen]="isMenuOpen" [menuTree]="menuTree" [activeSection]="activeSection"
    (closeMenu)="toggleMenu()" (sectionSelected)="selectSection($event)">
  </app-sidebar>

  <main class="grow pt-24">
    @if (activeSection) {
    <div>
      <div class="px-4 pb-12">
        @for (info of activeSection.informations; track $index) {
        <app-information [section]="activeSection" [info]="info" [shared]="config.shared"></app-information>
        }
      </div>
    </div>
    }
  </main>

  <app-footer [config]="config"></app-footer>

</div>
}