@if (config) {
<div class="min-h-screen flex flex-col bg-brand-bg font-sans antialiased text-[#2C2A29] relative">

  <app-header [config]="config" [isMenuOpen]="isMenuOpen" (toggleMenu)="toggleMenu()"></app-header>

  <app-sidebar [isMenuOpen]="isMenuOpen" [menuTree]="menuTree" [activeSection]="activeSection"
    (closeMenu)="toggleMenu()" (sectionSelected)="selectSection($event)">
  </app-sidebar>

  <main class="grow pt-24">
    @if (activeSection) {
    <div>
      <div class="relative w-full h-56 md:h-80 bg-gray-300 overflow-hidden"
        style="clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);">

        @if (isImageLoading) {
        <div class="absolute z-10 flex flex-col items-center gap-2">
          <div class="w-8 h-8 border-2 border-poppy/20 border-t-poppy rounded-full animate-spin"></div>
        </div>
        }
        <img [src]="activeSection.banner_image" (load)="onImageLoad()"
          class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300" priority
          [ngClass]="isImageLoading ? 'opacity-0' : 'opacity-100'" />
        <div class="absolute inset-0 bg-black/10"></div>
        @if (isPromoActive) {
        <div class="absolute -top-4 -right-4 z-40 pointer-events-none overflow-hidden w-64 h-64 animate-pulse">
          <div
            class="absolute top-14 -right-16 w-96 bg-red-600 text-yellow-300 text-center py-4 rotate-45 font-sans font-black text-lg uppercase tracking-widest shadow-2xl border-y-4 border-red-700">
            🔥 PROMO !
          </div>
        </div>
        }
      </div>


      <div class="px-4 pb-12">
        @for (info of activeSection.informations; track $index) {
        <app-information [info]="info"></app-information>
        }
      </div>
    </div>
    }
  </main>

  <app-footer [config]="config"></app-footer>

</div>
}